#shop {
    // border: 1px solid #000;
    padding-left: 500px;
    img {
        vertical-align: middle;
        border: 1px solid grey;
        margin-right: 20px;
    }
}

#size {
    margin-top: 50px;
    // border: 1px solid red;
    padding-left: 500px;
    span {
        display: inline-block;
        width: 42px;
        height: 42px;
        margin-right: 20px;
        border: 1px solid #000;
        line-height: 42px;
        text-align: center;
        &:hover {
            border: 1px solid red;
        }
    }
}