.box {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #000;
    margin-right: 10px;
    margin-bottom: 10px;
}

// 从隐藏到显示：enter
// 隐藏
.bm-enter {
    width: 0;
    height: 0;
    background-color: pink;
}

.bm-enter-to {
    width: 50px;
    height: 50px;
    background-color: #fff;
}

.bm-enter-active {
    background-color: rgb(53, 172, 72);
    animation: grow 1s;
}

.bm-leave {
    width: 50px;
    height: 50px;
}

.bm-leave-to {
    width: 0;
    height: 0;
}

.bm-leave-active {
    animation: grow 1s reverse;
}

@keyframes grow {
    from {
        width: 0;
        height: 0;
        background-color: rgb(172, 68, 182);
    }
    to {
        width: 50px;
        height: 50px;
        background-color: rgb(53, 172, 72);
    }
}