@mixin xx {
    width: 300px;
    height: 300px;
}

.box {
    @include xx;
    background-color: orange;
    position: absolute;
    left: 0;
    top: 50px;
}

// 显示到隐藏的状态
// 显示
.bm-leave,
.bm-enter-to {
    @include xx;
    background-color: pink;
}

// 隐藏
.bm-leave-to,
.bm-enter {
    width: 0;
    height: 0;
}

// 显示到隐藏的过程
// .bm-leave-active,
// .bm-enter-active {
//     transition: all 3s;
//     background-color: cyan;
// }
// 显示到隐藏的过程
.bm-leave-active {
    animation: move 3s reverse;
}

// 隐藏到显示
.bm-enter-active {
    animation: move 3s;
}

// 声明动画
@keyframes move {
    from {
        width: 0;
        height: 0;
        background-color: pink;
    }
    to {
        width: 300px;
        height: 300px;
        background-color: purple;
        border-radius: 50%;
    }
}

.box1 {
    @include xx;
    background-color: blue;
    position: absolute;
    left: 0;
    top: 400px;
}